body {
  background-image: url('mainbackground.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  margin: 0;
}

#p1 {
  text-align: center;
  font-size: 300%;
  color:#432b1e;
  background-color: #d69fc4;
  border: 2% solid #645c54;
  padding: 0.01%;
  margin: 0;
}

#p2 {
  text-align: center;
  color: #573839;
   background-color: #d69fc4;
  font-size: 130%;
  margin: 0;
  padding-bottom: 20px;
}

#p3 {
  font-size:375%;
  color:#432b1e;
  position: absolute;
  top: 200px;
  left: 180px;
  width: 450px;
  height: 90px;
}



}
#naam {
  background-color: #b79db9;
}

ul#n {
	  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
  border: 2px solid #9c869a;
}



li{
	 float: left;
}

li a{
   display: block;
  color: #716960;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #c7b7b2;
}
#button3 {
  
  font-family: Lucida Console, monospace;
  background-color: white; 
}

.Home {
  margin-left: 37%;
}

div#buttonordernow a {
  display: block;
text-decoration: none;
  text-align: center;
  color: white;
  background-color: #bd89ac;
  padding: 16px;
  padding-bottom: 20px;
  float: left;
  border-radius: 25px;
  border: 1px solid #46342b;
  font-weight: bold;
  font-size: 120%;
position: absolute;
  top: 525px;
  left: 180px;
  width: 140px;
  height: 15px;
}
div#buttonordernow a:hover {
  background-color: #805b73;
}

.footer {
   color: white;
  text-align: center;
  font-size: 120%;
  font-family: -apple-system;
  background-color: #5a4b44;
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
}

ul#slayslides {
  position: absolute;
  top: 200px;
  left: 900px;
}

#knop1 {
  position: absolute;
  top: 290px;
  left: 15px;
}
#knop2 {
  position: absolute;
  top: 290px;
  left: 621px;
}

#p4 {
  background-color: #d69fc4;
  padding: 15px;
  float: left;
  margin-left: 46%;
  text-align: center;
  font-size: 20px;
  color: #46342b;
  border: 1px solid #46342b;
  font-weight: bold
}

#buttoncart {
position: absolute;
margin-top: 550px;
margin-left: 525px;
}

div#pou {
display: block;
text-decoration: none;
  text-align: center;
  color: #46342b;
  background-color: #eec8e2;
  border-radius: 25px;
  border: 1px solid #46342b;
  font-weight: bold;
  font-size: 120%;
  padding-top: 400px;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
  float: left;
  width: 15%;
  margin-top: 100px;
  position: absolute;
  top: 200px;
  left: 22%;
}

#pouimg {
  display: block;
  position: absolute;
  top: 380px;
  left: 25%;
}

div#barbie {
display: block;
text-decoration: none;
  text-align: center;
  color: #46342b;
  background-color: #eec8e2;
  border-radius: 25px;
  border: 1px solid #46342b;
  font-weight: bold;
  font-size: 120%;
  padding-top: 400px;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
  float: left;
  width: 15%;
  margin-top: 100px;
  position: absolute;
  top: 200px;
  left: 42%;
}

#barbieimg {
  display: block;
  position: absolute;
  top: 380px;
  left: 46%;
}

div#egel {
display: block;
text-decoration: none;
  text-align: center;
  color: #46342b;
  background-color: #eec8e2;
  border-radius: 25px;
  border: 1px solid #46342b;
  font-weight: bold;
  font-size: 120%;
  padding-top: 400px;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
  float: left;
  width: 15%;
  margin-top: 100px;
  position: absolute;
  top: 200px;
  left: 62%;
}

#egelimg {
  display: block;
  position: absolute;
  top: 380px;
  left: 66%;
}

#review1 { 
  font-weight: bold;
  font-size: 20px;
  text-align: center; 
  background: rgb(111, 85, 68);    
  float: left;
  margin-left: 14%;     
  margin-top: 5%;
  padding-top: 1px;
  width: 400px;
  height: 125px;
  border-radius: 25px;         
  }

#review2 { 
  font-weight: bold;
  font-size: 20px;
  text-align: center; 
  background: rgb(111, 85, 68);       
  float: left;    
  margin-left: 2%;
  margin-top: 5%;
  padding-top: 1px;
  width: 400px;
  height: 125px;
  border-radius: 25px;         
  }

#review3 { 
  font-weight: bold;
  font-size: 20px;
  text-align: center; 
  background: rgb(111, 85, 68);       
  float: left;    
  margin-left: 2%;
  margin-top: 5%;
  padding-top: 1px;
  width: 400px;
  height: 125px;
  border-radius: 25px;         
  }

#reviewpic img {
  margin-top: 5%;
  margin-left: 34%;
  float: left;
  width: 25%;
  height: 20%
  
}