body {
  background-image: url('mainbackground.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}

ul#n {
	 list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
ul#n li{
	display: block;
	  float: left;
  padding: 2%;
}
#button3 {
  font-family: Lucida Console, monospace;
  background-color: white; 
  color: black; 
  border: 2px solid #b7a1bf;
  border-radius: 0%;
}

#button3:hover {
  background-color: #ae7a7a;
  color: white;
}
